@import "src/variables";

.recipe-edit{
  &__form{
    display: flex;
    flex-direction: column;

    &__img-preview{
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 1rem;
    }

    &__img-preview > img{
      width: 10rem;
    }
  }

  &__buttons > button:not(:first-child){
    margin-left: 0.5rem;
  }

  &__ing-flex{
    display: flex;
    align-items: center;
  }

  &__ing-flex > mat-icon{
    cursor: pointer;
  }

  &__ing-flex > form > mat-list > mat-list-item > ::ng-deep div{
    display: flex;
    justify-content: space-between;
  }

  &__ing-flex > form > mat-list > mat-list-item > ::ng-deep div > .delete-icon{
    color: $red;
    cursor: pointer;
  }

  &__ing-flex > form > mat-list > mat-list-item > ::ng-deep div > span{
    cursor: pointer;
  }

  &__ing-flex > form > mat-form-field:nth-child(2){
    margin-left: 1rem;
  }

  &__ing-flex > form > button{
    margin-left: 1rem;
  }
}
