<div class="recipe-detail">
  <div class="recipe-detail__picture">
    <img alt="{{recipeDetail.name}}" [src]="recipeDetail.imagePath">
  </div>

  <div class="recipe-detail__header">
    <h2>{{recipeDetail.name}}</h2>
  </div>

  <div class="recipe-detail__actions">
    <button mat-raised-button color="primary" [matMenuTriggerFor]="menu">Manage Recipe
      <mat-icon aria-hidden="false">keyboard_arrow_down</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="addToShoppingList()">To Shopping List</button>
      <button mat-menu-item (click)="editRecipe()">Edit Recipe</button>
      <button mat-menu-item (click)="deleteRecipe()">Delete Recipe</button>
    </mat-menu>
  </div>

  <div class="recipe-detail__description">
    <p>{{recipeDetail.desc}}</p>
  </div>

  <div class="recipe-detail__ingredients">
    <h4>Ingredients</h4>
    <mat-list>
      <mat-list-item *ngFor="let ingredient of recipeDetail.ingredients"> {{ingredient.name}} ({{ingredient.amount}}) </mat-list-item>
    </mat-list>
  </div>
</div>
