<div class="margin-bottom-small">
  <button (click)="newRecipe()" mat-stroked-button [color]="'green'">
    <mat-icon aria-hidden="false">library_add</mat-icon> Add New Recipe
  </button>
  <button (click)="apiTests()" mat-stroked-button [color]="'blue'">
    <mat-icon aria-hidden="false">build</mat-icon> Api tests
  </button>
</div>

<div class="recipe-list"> <!--Выводим все рецепты в цикле-->
  <app-recipe-item
    [recipeItem]="recipe"
    *ngFor="let recipe of recipes | sort:true; let i = index"
    [id]="i"
  ></app-recipe-item>
</div>
